.img-user-post {
    border-radius: 50%;
    height: 60px;
    width: 60px;
}

.row {
    margin-top: 10px;
}

.fa {
    cursor: pointer;
}

.fa-left {
    margin-left: 99% !important;
}

.link-dark {
    font: bolder !important;
    color: black !important
}

.image-post {
    color: inherit;
    cursor: pointer;
}

.image-post>p {
    display: none;
    width: 100%;
    height: 100%;

}

.image-post:hover>p {
    display: block;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    padding-top: 22% !important;
    padding-left: 35% !important;
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 999999999;
    /* Sit on top */
    padding-top: 100px;
    padding-bottom: 70px;
    padding-left: 35px;
    padding-right: 35px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.5);
    /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Add Animation */
.modal-content {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}

.popover__content {
    margin-top: 5px;
    width: 100% !important;
    max-height: 210px;
    background-color: #fff !important;
}

.overflow-auto {
    overflow-x: hidden !important;
}